@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body {
	background-color: #407f7f;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	font-family: Crimson Text, serif;
}

#title {
	color: #804515;
}

#title h1 {
	font-size: 40px;
	line-height: 20px;
}

#title h2 {
	line-height: 20px;
}

#variable {
	width: 500px;
	margin-right: 50px;
	float:left;
	font-size: 20px;
	background-color: #669999;
	padding: 3em;
	padding-top: 1em;
	padding-bottom: 1em;
}


#variable #controls {
	list-style-type: none;
	text-align: center;
}

#variable #controls li {
	display:inline;
}

#variable #controls li a .ctl {
	color: #AA8439;
}

#variable #controls li a {
	display: block;
}

#variable #controls li a:hover {
	background-color: #aaa;
}

#main {
	width: 300px;
	float:right;
}

#main a {
	color: #553900;	
}

#footer {
	clear:both;
	text-align: center;
	font: 8px;
}